<!DOCTYPE html>
<html>
<head>
    <title>Formulário Boas práticas</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
     <link href="css/ContatoEstilo.css" rel="stylesheet" media="all" />
    <script src="js/JavaScript1.js"></script>
    <script src="js/validar.js"></script>
</head>
<body>
<div class="caixa">
<div class="img">
<img src="img/cabeçalho.jpg" alt="img">
</div>
    <form name="meu_form">
    
       <div class="descom">
        <h1>Conhecendo Boas Práticas</h1>
        <p>O COMAD quer conhecer ações públicas e não-governamental que atuam na
          prevenção, tratamento, reinserção social e repressão às drogas no município de
          Dourados.</p>
        </div>
 <div class="formulario">
        <p class="nome">
        <p><label for="nome">Nome da instituição ou grupo:</label></p>
            <input type="text" id="nomeid"  required="required" name="nome" />
            
        </p>
        <p class="resp">
        <p><label for="resp">Nome do responsável pela instituição ou grupo:</label></p>
            <input type="text" id="respid"    required="required" name="resp" />
            
 
        </p>
        <p>
         <p><label for="nomepro">Nome da ação, projeto, unidade:</label></p>
            <input type="nomepro" id="nomeproid"  required="required" name="nomepro" />
           
        </p>

        <p>
         <p><label for="end">Endereço:</label></p>
            <input type="end" id="endid"  required="required" required="required" name="end" />
           
        </p>

        <p>
         <p><label for="cont">Contatos:</label></p>
            <input type="cont" id="contid"  required="required" name="cont" />
           
        </p>

        <p>
         <p><label for="publicc">Qual público alvo, idade de atendimento:</label></p>
            <input type="public" id="publicid"  required="required" name="public" />
           
        </p>

        <p>
         <p><label for="nat">Natureza da ação, projeto ou unidade:</label></p>
            <input type="nat" id="natid"  required="required" name="nat" />
           
        </p>

        <p>
         <p><label for="oque">O que a ação, projeto, unidade realiza na prática:</label></p>
            <input type="oque" id="oqueid"  required="required" name="oque" />
           
        </p>

        <p>
         <p><label for="ativ">A ação,projeto, unidade realiza alguma atividade específica para prevenção às drogas ou
         para atender usuários de drogas, se sim, quais? :</label></p>
            <input type="ativ" id="ativid"  required="required" name="ativ" />
           
        </p>

        <p>
         <p><label for="temp">Quanto tempo existe em Dourados:</label></p>
            <input type="temp" id="tempid"  required="required" name="temp" />
           
        </p>

        <p>
         <p><label for="vinc">Existe vínculo com instituição pública ou religiosa:</label></p>
            <input type="vinc" id="vincid"  required="required" name="vinc" />
           
        </p>

        <p>
         <p><label for="finan">Como é a forma de manutenção financeira para realizar o atendimento:</label></p>
            <input type="finan" id="finanid"  required="required" name="finan" />
           
        </p>

       <h1>Anexar fotos de ações desenvolvidas</h1>

        <div class="gear-grid">
  <div class="gear-item">
    <form id="form1" runat="server">
      <input type='file' class="input-file">
      <img class="input-image" src="#">
    </form>
  </div>
  <div class="gear-item">
    <form id="form1" runat="server">
      <input type='file' class="input-file">
      <img class="input-image" src="#">
    </form>
  </div>
  <div class="gear-item">
    <form id="form1" runat="server">
      <input type='file' class="input-file">
      <img class="input-image" src="#">
    </form>
  </div>
  <div class="gear-item">
    <form id="form1" runat="server">
      <input type='file' class="input-file">
      <img class="input-image" src="#">
    </form>
  </div> 
  </div>


       
        <p class="submit">
            <input type="submit" onclick="Enviar();" value="Enviar" />
        </p>
    

      
      
    </form>
</div>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="js/index.js"></script>
</body>
</html>